# Sao chép thành .env.qas trên server và điền giá trị thật
# KHÔNG commit .env.qas lên git

SECRET_KEY=thay-bang-chuoi-ngau-nhien-khac-prod
POSTGRES_DB=sofa_flow_qas
POSTGRES_USER=sofa_user
POSTGRES_PASSWORD=thay-bang-mat-khau-rieng-cua-qas
APP_VERSION=1.7.9
